# ESLint configuration
.eslintrc.cjs

# Prettier configuration
.prettierrc

# Node.js dependencies
node_modules/

# Build output
dist/

# IDE configuration
.vscode/

# Other configuration files
*.config.js
*.json

# Git related files
.git/
.gitignore
